.movie-review-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.movie-review-card-container .mdl-card__media img {
  width: 100%;
}

.movie-review-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.movie-review-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.movie-review-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 10px;
}

.movie-review-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.movie-review-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}