<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <%= link_to "Movie Reviews", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">	

    
	  <%= link_to new_movie_path, class: "nav-item" do %>
		<p>New Movie</p>
	  <% end %>	  
    </li>	
	
    
	  <%= link_to about_path, class: 'nav-item' do %>
		<p>About</p>
	  <% end %>
    </li>
  </ul>
  <%= render "layouts/search" %>
</nav>